<input
  tabindex="1"
  type="text"
  class="form-control p-2"
  [formControl]="searchField"
  [placeholder]="placeholder"
  (input)="searchLocations($event.target.value)"
  (keydown)="selectItemFromList($event)"
  (blur)="stopSearching()"
  (keydown.enter)="onEnterLocation($event, locations.docs)"
>
<ng-container>
  <app-result-list
    *ngIf="areLocationsFound(locations) && isResultListVisible(searching, searchField.value, loading)"
    [locations]="locations?.docs"
    [arrowKeyLocation]="arrowKeyLocation"
    (sendArrowKeyLocation)="arrowKeyLocation = $event"
    (sendSelectItem)="selectItem($event)">
  </app-result-list>
  <ng-container *ngIf="!areLocationsFound(locations) && isResultListVisible(searching, searchField.value, loading)">
    <app-empty-message [message]="emptyMessage"></app-empty-message>
  </ng-container>
</ng-container>
